@import "variables.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-2);
  color: var(--white-1);
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  min-width: 320px;
  max-width: 1280px;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 0;
}

.logo-mobile {
  width: 142px;
}

.language-switcher {
  word-spacing: 18px;
}

.lang-ru {
  text-decoration: underline;
}

.switcher-style {
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  background: none;
  border: none
}

.travel-header {
  font-weight: 900;
  padding-top: 48px;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
}

.losung {
  padding-top: 16px;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}

figure {
  width: 100%;
}

.image-mobile-version {
  width: 100%;
  padding-top: 40px;
}

.photo-caption {
  padding-left: 16px;
  line-height: 14px;
  font-size: 10px;
  letter-spacing: 1.5px;
  padding-top: 4px;
  text-transform: uppercase;
}

.intro-title {
  font-weight: 900;
  line-height: 35px;
  font-size: 32px;
  text-align: left;
}

.section-side-padding {
  padding: 0 16px;
}

.top-indent {
  padding-top: 64px;
}

.intro-text {
  font-size: 16px;
  line-height: 26px;
  padding-top: 40px;
}

.intro-list {
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  padding-top: 34px;
  list-style: none;
}

.intro-data {
  padding-left: 4px;
  font-weight: 200;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  padding-right: 16px;
}

.photo-grid {
  width: 100%;
  margin-bottom: 12px;
}

.places {
  display: flex;
  flex-wrap: wrap;
}

.place-name {
  font-weight: 900;
  font-size: 32px;
}

.url-heading {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: var(--gray-1);
  text-transform: uppercase;
  padding: 32px 0 12px;
  display: block;
}

.threehund-indent {
  padding: 0 16px;
}

.site-url {
  padding-top: 12px;
  font-size: 18px;
  line-height: 22px;
  color: var(--white-1);
}

.landmark-image {
  width: 100%;
  margin-top: 32px;
}

.place-info {
  font-size: 16px;
  line-height: 26px;
  padding-top: 32px;
}

.footer-promo {
  position: relative;
  text-decoration: none;
  margin-top: 66px;
  justify-content: center;
  display: flex;
  max-width: 1148px;
  margin: 0 auto;
}

.footer-promo__info {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  color: var(--white-1);
  text-align: center;
  max-width: 560px;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.footer-promo__background {
  width: 100%;
}

.footer-cover li:first-child a {
  padding-top: 0;
}

.footer-link {
  display: block;
  padding-top: 32px;
  list-style: none;
  text-align: center;
  color: var(--white-1);
  text-decoration: none;
}

.cover-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  padding-bottom: 16px;
  padding-top: 33px;
}

.cover-subtitle {
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 33px;
}

.footer-cover {
  list-style: none;
  padding-top: 64px;
  font-size: 24px;
  text-align-last: left;
}

.copyright-footer {
  font-size: 14px;
  padding-top: 48px;
  padding-bottom: 24px;
}

@media (min-width: 768px) {
  header {
    padding: 28px 24px 0;
  }
  
  .logo-mobile {
    width: 176px;
  }

  .travel-header {
    padding-top: 48px;
    font-size: 96px;
    line-height: 100px;
  }

  .switcher-style {
    font-size: 24px;
  }

  .losung {
    font-size: 30px;
    line-height: 36px;
    padding: 32px 81px 0 81px;
  }

  .photo-caption {
    padding-left: 24px;
  }

  .image-mobile-version {
    padding-top: 56px;
  }

  .section-side-padding {
    padding: 40px 24px 0 24px;
  }

  .intro-title {
    font-size: 54px;
    line-height: 58px;
    white-space: nowrap;
    padding-top: 88px;
  }

  .photo-grid {
    width: 47.8%;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  .landmark {
    padding-top: 44px
  }

  .landmark-image {
    width: 46%;
    margin-top: 0;
  }

  .place-name {
    font-size: 42px;
    width: 47%;
    padding-left: 0;
  }

  .threehund-indent {
    padding: 0;
  }

  .thumbnails {
    padding-left: 8px;
    justify-content: space-between;
    padding-right: 24px;
  }

  .places {
    padding: 0 24px;
  }

  .places-media {
    display: flex;
    padding-top: 48px;
  }

  .url-place {
    display: flex;
    align-self: flex-end;
    padding-left: 22px;
    flex-direction: column;
    padding-bottom: 7px;
  }

  .url-heading {
    padding-top: 12px;
    padding-left: 0;
  }

  .places-header {
    display: flex;
  }

  .place-info {
    padding: 0 0 0 28px;
  }

  .cover-title {
    font-size: 72px;
    line-height: 76px;
  }
  
  .footer-link:first-child p {
    padding: 32px 0 115px 0;
  }

  .cover-subtitle {
    padding-bottom: 115px;
    padding-top: 0;
    font-size: 18px;
    line-height: 22px;
  }

  .footer-promo {
    margin-top: 140px;
  }

  .footer-cover {
    display: flex;
    font-size: 16px;
    padding-bottom: 24px;
  }

  footer {
    display: flex;
  }

  .footer-item {
    padding-left: 18px;
  }

  .copyright-footer {
    font-size: 14px;
    display: flex;
    padding-left: 69px;
    padding-bottom: 24px;
    align-self: flex-end;
  }

  .footer-cover li:first-child a {
    padding-top: 32px;
  }
}

@media (min-width: 1024px) {
  header {
    padding: 28px 48px 0 48px;
  }

  .losung {
    padding: 32px 192px 0 192px;
  }

  .image-mobile-version {
    padding: 56px 48px 0 48px ;
  }

  .photo-caption {
    margin-top: 8px;
    padding-left: 48px;
  }

  .section-side-padding {
    padding: 0 48px 0 48px;
  }

  .intro-text {
    font-size: 16px;
    max-width: 690px;
  }

  .intro-title {
    margin-bottom: 40px;
    padding-top: 92px;
  }

  .intro-list {
    margin-top: 33px;
    padding-bottom: 92px;
  }

  .photo-grid {
    width: 31.6%;
    padding-left: 0;
  }

  .places {
    padding: 0 48px;
  }

  .place-name {
    font-size: 72px;
    line-height: 76px;
    width: 42%;
  }

  .url-place {
    padding-left: 80px;
  }

  .place-info {
    font-size: 18px;
    line-height: 30px;
  }

  .footer-promo {
    margin-top: 92px;
  }

  .landmark {
    padding-top: 40px;
  }

  .landmark-image {
    margin-bottom: 0;
    width: 46.6%;
  }

  .footer-cover {
    padding-top: 23px;
    padding-bottom: 24px;
  }

  .copyright-footer {
    padding-bottom: 25px;
    margin-left: auto;
  }

  .cover-title {
    padding-bottom: 30px;
  }

  .footer-link:first-child p {
    padding-bottom: 195px;
    padding-top: 0;
  }
}


@media (min-width: 1280px) {
  .travel-header {
    padding: 56px 280px 0 280px
  }

  .losung {
    padding: 32px 380px 0 380px;
  }

  .image-mobile-version {
    padding: 64px 148px 0 148px;
  }

  .photo-caption {
    padding-left: 148px;
  }

  .intro {
    padding-left: 99px;
  }

  .photo-grid {
    width: 24%;
  }

  .landmark-image {
    width: 47.6%;
  }

  .place-info {
    padding: 0 0 0 40px;
  }

  .places {
    padding: 0 148px;
  }

  .url-place {
    padding-left: 86px;
  }

  .footer-cover {
    padding-left: 32px;
  }
}